.account {
  color: #ffffff;
    &__configuration,
    &__addresses {
      position: relative;
      padding: 10px;
  
      .title {
        width: max-content;
        background-color: $background-dark-absolute;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px 5px 0 0;
      }
  
      .data {
        background-color: #3d0135;
       box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
        
        ;
        
      }
    }
  
    &__addresses {
      .title {
        i {
          position: absolute;
          right: 10px;
          color: #ffffff;
        }
      }
    }

    &__addresses {
      .title {
        span {
          position: absolute;
          right: 40px;
          color: #ffffff;
        }
      }
    }
  }
  